
body 
{
	/*background-color: #524f52;*/
	background-image: url("background.jpg");
}

.btn 
{
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#rbtn
{
	background-color: #ff3300;
}

#obtn
{
	background-color: #ff6600;
}

#ybtn 
{
	background-color: #ffff00;
}

#gbtn 
{
	background-color: #33cc00;
}

#bbtn 
{
	background-color: #4da6ff;
}

#vbtn 
{
	background-color: #cc00ff;
}

.dropbtn 
{
	background-color: #f1f1f1;
}

.submitbtn 
{
	background-color: #f1f1f1;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.chatbtn 
{
	background-color: #f1f1f1;
   	 padding: 16px;
    	font-size: 16px;
    	border: none;
    	cursor: pointer;
	float: right;
}

#rbtn:hover, #rbtn:focus 
{
	background-color: #b32400;
}

#obtn:hover, #obtn:focus 
{
	background-color: #cc5200;
}

#ybtn:hover, #ybtn:focus 
{
	background-color: #cccc00;
}

#gbtn:hover, #gbtn:focus 
{
	background-color: #269900;
}

#bbtn:hover, #bbtn:focus 
{
	background-color: #0066cc;
}

#vbtn:hover, #vbtn:focus 
{
	background-color: #7a0099;
}
#glaadbtn:hover, #glaadbtn:focus
{
	background-color: #0066cc;
}

.dropbtn:hover, .dropbtn:focus 
{
	background-color: #ddd;
}

.consolebtn:hover, .consolebtn:focus 
{
	background-color: #ddd;
}

.chatbtn:hover, .chatbtn:focus 
{
	background-color: #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
 	position: relative;
    	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdowncontent a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdowncontent a:hover 
{
	background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdowncontent container when the user clicks on the dropdown button) */
.show 
{
	display:block;
}

#consoleWindow
{
	background-color: #292429;
	margin-left: 5px;
	margin-right:8px;
	/*float: right;*/
	color: white;
	display: hide;
	resize: none;
}

#chatWindow
{
	background-color: #272822;
	display: hide;
	color: white;
	resize: none;
}
#chat
{
	background-color: #272822;	
	font-weight: bold;
	color: white;
}
#codespace
{
	display: inline-block;
	float: center;
	/*
    	width: 1025px;
	height: 500px;
	*/
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	resize: none;
}

#commandArea
{
	/*background-color: #292429;*/
	background-color: #272822;
	clear: right;
	/*float: right;*/
	font-weight: bold;
	color: white;
	display: inline-block;
	margin-left:5px;
	/*
	width: 1025px;
	height: 50px;
	margin-top:7px;
	*/
	resize: none;
}

#glaadbtn
{
	background-color: #4da6ff;
	font-size: 16px;
	border: none;
	float: right;
}

#openproj
{
	background-color: #292429;
	/*background-color: #abaa98;*/
	float:left;
	color: white;
	display:inline-block;
	vertical-align: top;
	min-width: 179px;
}

p 
{
	/*display:inline-block;*/
	vertical-align: top;
	min-width: 179px;
}

/* Style the list */
ul.tab 
{
	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	border: 1px solid #ccc;
    	background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li 
{
	float: left;
}

/* Style the links inside the list items */
ul.tab li a 
{
	display: inline-block;
    	color: black;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
    	transition: 0.3s;
    	font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover 
{
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active 
{
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent 
{
	display: none;
    	padding: 6px 12px;
    	border: 1px solid #ccc;
    	border-top: none; 
}

#codespace 
{
	position: relative;
	
	  height: 300px;
	width: 100%;
}
#Loader 
{
	text-align:center;
	margin-top:8%;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#main-container
{
	    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
#firstSubmit
{
	
	padding: 0;
	border: none;
	font-size: 36px;
	background: none;
	text-align: center;

}
#firstSubmit:hover
{
	color: white;
}
.firstInput 
{
    padding: 6px 16px;
    margin: 3px 0;
	font-size: 18px;
    box-sizing: border-box;
	text-align: left;
}
#bar
{
	text-align:center;
}
#name
{
	padding: 6px 16px;
    margin: 3px 0;
	font-size: 18px;
    box-sizing: border-box;
	text-align: center;
}
#enter
{
	padding: 0;
	border: none;
	font-size: 18px;
	background: none;
	text-align: center;
}
#enter:hover
{
		color:white;
}
#logotwo
{
	position:relative;
	/*left:50%;*/
	
	/*text-align:center;
	font-size:48px;
	
	display: block;
	margin: 0 auto;*/
	/*width:125px;
	height:49px;*/
	/*margin-top:10px;*/
}

#logo
{
	text-align:center;
	font-size:48px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
		display: block;
		margin: 0 auto;
		width:200px;
		height:86px;
		margin-top:10px;
}
#loginPrompt
{
	font-size:18px;
}
