body 
{
	background-color: #b3f0ff;
     font-size: 18px;
	 text-align: center;
}

input[type=text] 
{
    padding: 6px 16px;
    margin: 3px 0;
	font-size: 18px;
    box-sizing: border-box;
	 text-align: left;
}
input[type=password] 
{
    padding: 6px 16px;
    margin: 3px 0;
	font-size: 18px;
    box-sizing: border-box;
	 text-align: left;
}

input[type=submit]
{
	padding: 0;
	border: none;
	font-size: 32px;
	background: none;
	 text-align: center;
}
input[type=submit]:hover
{
	color: white;
}