
body
{
background: rgba(242,246,248,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(242,246,248,1)), color-stop(26%, rgba(216,225,231,1)), color-stop(57%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: radial-gradient(ellipse at center, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
	background-repeat: no-repeat;
	background-attachment: fixed;


}

#MainIDE
{

}
.loginGrid
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

.loginLink
{
	color: #333;
}

.errorText
{
	color: red;
}

@media screen and (max-width: 1367px){
#prideLogo
{
	margin: 0 auto;
	width:227px;
	height:90px;
}
#githubmini
{
	width:26px;
	height:26px;
}
#glaadmini
{
	width:52px;
	height:26px;
}
#prideLogoMini
{
	width:45px;
	height:13px;
}
#githubLogo
{
	margin: 0 auto;
width:64px;
height:64px;
}
#terminal
{
	margin-top:10px;
	height:100px;
}
#command
{
	margin-top:5px;
}
#chatbox
{
height: 467px;
}
#messagebox
{
/*height: 60px;*/
}
#codewindow
{
	height:500px;
}
#solutionexplorer
{
	height:500px;
}
}

@media screen and (min-width: 1368px){
#prideLogo
{
	margin: 0 auto;
	width:340px;
	height:135px;
}
#prideLogoMini
{
	width:45px;
	height:13px;
}
#githubLogo
{
	margin: 0 auto;
	width:120px;
	height:120px;
}
#githubmini
{
	width:26px;
	height:26px;
}
#glaadmini
{
	width:52px;
	height:26px;
}
#glaadLogo
{
	margin: 0 auto;
	width:256px;
	height:128px;
}
#terminal
{
	margin-top:10px;
	height:200px;
}
#command
{
	margin-top:5px;
}
#codewindow
{
	height:600px;
}
#solutionexplorer
{
	height:600px;
}
#chatbox
{
height: 567px;
}
#messagebox
{
/*height: 80px;*/
}
}

#file
{
	color:red;
}
#edit
{
	color:orange;
}
#build
{

	color:green;
}
#git
{
	color:blue;
}
#settings
{
	color:violet;
}

.loginLink
{
	color: #333;
	font-size:22px;
}
}

#motto
{
font-size:22px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
