
/*body 
{
	background: rgba(73,155,234,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(13,94,181,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(13,94,181,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(13,94,181,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(13,94,181,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(13,94,181,1) 100%);
	background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(13,94,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0d5eb5', GradientType=1 );
	background-repeat: no-repeat;
	background-attachment: fixed;

}*/

body
{
background: rgba(242,246,248,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(242,246,248,1)), color-stop(26%, rgba(216,225,231,1)), color-stop(57%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
background: radial-gradient(ellipse at center, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 57%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.loginGrid
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

.loginLink
{
	color: #333;
}

.errorText
{
	color: red;
}

@media screen and (max-width: 1367px){
#prideLogo
{
	margin: 0 auto;
	width:227px;
	height:90px;
}

#githubLogo
{
	margin: 0 auto;
width:64px;
height:64px;
}
}

@media screen and (min-width: 1368px){
#prideLogo
{
	margin: 0 auto;
	width:340px;
	height:135px;
}
#githubLogo
{
	margin: 0 auto;
width:120px;
height:120px;
}

#glaadLogo
{
	margin: 0 auto;
width:256px;
height:128px;
}

#motto
{
font-size:22px;
}

@media screen and (max-width: 1368px){
#terminal
{
	margin-top:10px;
	height:100px;
}
#command
{
	margin-top:5px;
}
#chatbox
{
height: 440px;
}
#messagebox
{
height: 60px;
}
}

@media screen and (min-width: 1369px){
#terminal
{
	margin-top:10px;
	height:200px;
}
#command
{
	margin-top:5px;
}
#codewindow
{
	height:600px;
}
#solutionexplorer
{
	height:600px;
}
#chatbox
{
height: 520px;
}
#messagebox
{
height: 80px;
}
}
/*#solutionexplorer
{
height: 400px;
}*/
.loginLink
{
	color: #333;
	font-size:22px;
}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
